/* big screen sizes */

@media only screen and (min-width: 2500px) {
    :root {
        --font_size_multiplier: 1.3;
    }

    #main {
        padding-top: 150px;
        padding-left: 100px;
        padding-right: 100px;
    }

    .waterfall_container {
        --image_gap: 10px;
        --image_border_width: 6px;

        column-count: 5;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 90px;
    }
}

@media only screen and (min-width: 3500px) {
    :root {
        --font_size_multiplier: 1.6;
    }

    #main {
        padding-top: 175px;
        padding-left: 110px;
        padding-right: 110px;
    }

    .waterfall_container {
        --image_gap: 12px;
        --image_border_width: 8px;

        column-count: 6;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 95px;
    }
}

@media only screen and (min-width: 4200px) {
    :root {
        --font_size_multiplier: 2.0;
    }

    #main {
        padding-top: 200px;
        padding-left: 115px;
        padding-right: 115px;
    }

    .waterfall_container {
        --image_gap: 13px;
        --image_border_width: 10px;

        column-count: 7;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 100px;
    }
}

@media only screen and (min-width: 4600px) {
    :root {
        --font_size_multiplier: 2.2;
    }
}

/* small screen sizes */

@media only screen and (max-width: 1300px) {
    #main {
        padding-top: 100px;
        padding-left: 90px;
        padding-right: 90px;
    }

    .waterfall_container {
        column-count: 3;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 50px;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --font_size_multiplier: 0.75;
    }

    #main {
        padding-top: 80px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .waterfall_container {
        column-count: 2;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 40px;
    }
}

@media only screen and (max-width: 425px) {
    :root {
        --font_size_multiplier: 0.75;
    }

    #main {
        padding-top: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 25px;
    }
}

@media only screen and (max-width: 300px) {
    :root {
        --font_size_multiplier: 0.625;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        --image_border_width: 2px;

        padding: 15px;
    }
}

@media only screen and (max-width: 250px) {
    :root {
        --font_size_multiplier: 0.55;
    }

    #main {
        padding-top: 50px;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media only screen and (max-width: 200px) {
    :root {
        --font_size_multiplier: 0.6;
    }

    #main {
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .waterfall_container {
        column-count: 1;
    }
}

@media only screen and (max-width: 125px) {
    :root {
        --font_size_multiplier: 0.3;
    }

    #main {
        padding-top: 50px;
        padding-left: 8px;
        padding-right: 8px;
    }

    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 10px;
    }
}

/* landscape orientation */

@media only screen and (max-height: 800px) {
    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 30px;
    }
}

@media only screen and (max-height: 425px) and (orientation: landscape) {
    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 15px;
    }
}

@media only screen and (max-height: 250px) and (orientation: landscape) {
    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 10px;
    }
}

@media only screen and (max-height: 150px) and (orientation: landscape) {
    .waterfall_container > div:has(input[type="checkbox"]:checked) > .container_label {
        padding: 5px;
    }
}

/* too small screen size */

@media only screen and (max-width: 75px) {
    #error {
        display: flex;
    }

    #error::after {
        content: "screen is too small";
    }
}

/* image sizes */

@media only screen and (min-width: 800px) {
    .image_container img[data-size="8x"] { display: none;  }
    .image_container img[data-size="4x"] { display: none;  }
    .image_container img[data-size="1x"] { display: block; }
}

@media only screen and (max-width: 800px) {
    .image_container img[data-size="8x"] { display: none;  }
    .image_container img[data-size="4x"] { display: block; }
    .image_container img[data-size="1x"] { display: none;  }
}

@media only screen and (max-width: 400px) {
    .image_container img[data-size="8x"] { display: block; }
    .image_container img[data-size="4x"] { display: none;  }
    .image_container img[data-size="1x"] { display: none;  }
}
