:root {
    --light_mode_color_background: var(--color_off_white);
    --dark_mode_color_background_secondary: #1D1E1E;
}

body:has(.waterfall_container input[type="checkbox"]:checked) {
    overflow: hidden; /* prevent scrolling while an image is opened */
}

#main {
    padding-top: 175px;
    padding-left: 100px;
    padding-right: 100px;
}

#footer {
    width: 100%;
    margin-top: 6ch;
    margin-bottom: 2ch;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-end;
}
