@media (min-aspect-ratio: 3/4) {
    #calculator {
        width: auto;
        height: 100%;
    }
}

@media (max-aspect-ratio: 3/4) {
    #calculator {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 515px), (max-height: 700px) {
    #current_score::before {
        content: "";
    }

    #high_score::before {
        content: "";
    }
}

@media only screen and (max-width: 525px), (max-height: 700px) {
    .button_dark_mode {
        display: none;
    }
}

@media only screen and (max-width: 425px), (max-height: 525px) {
    :root {
        --font_size_multiplier: 0.7;
    }

    #calculator {
        --calculator_font_size_multiplier: 0.5;
        --calculator_icon_size_multiplier: 0.5;
    }
}

@media only screen and (max-width: 325px), (max-height: 415px) {
    :root {
        --font_size_multiplier: 0.55;
    }

    #calculator {
        --calculator_font_size_multiplier: 0.4;
        --calculator_icon_size_multiplier: 0.4;
    }
}

@media only screen and (max-width: 300px), (max-height: 400px) {
    body {
        overflow: hidden;
    }

    #error {
        display: flex;
    } #error::after {
        content: "screen is too small";
    }
}
