@media (min-aspect-ratio: 3/4) {
    #calculator {
        width: auto;
        height: 100%;
    }
}

@media (max-aspect-ratio: 3/4) {
    #calculator {
        width: 100%;
        height: auto;
    }
}

/* shrink score display & dark mode button */

@media only screen and (max-width: 515px), (max-height: 700px) {
    #current_score::before {
        content: "";
    }

    #high_score::before {
        content: "";
    }
}

@media only screen and (max-width: 525px), (max-height: 700px) {
    .button_dark_mode {
        display: none;
    }
}

/* calculator and fontsize changes */

@media only screen and (min-width: 3000px), (min-height: 3000px) {
    :root {
        --font_size_multiplier: 2.0;
    }

    #calculator {
        --calculator_font_size_multiplier: 2.0;
        --calculator_icon_size_multiplier: 2.0;
    }

    #calculator_screen {
        --calculator_screen_shadow: 6px 6px var(--theme_color_calculator_screen_text_shadow);
        --calculator_screen_shadow_light: 3px 3px var(--theme_color_calculator_screen_text_shadow);
    }
}

@media only screen and (max-width: 425px), (max-height: 525px) {
    :root {
        --font_size_multiplier: 0.7;
    }

    #calculator {
        --calculator_font_size_multiplier: 0.5;
        --calculator_icon_size_multiplier: 0.5;
    }

    #calculator_screen {
        --calculator_screen_shadow: 2px 2px var(--theme_color_calculator_screen_text_shadow);
        --calculator_screen_shadow_light: 1px 1px var(--theme_color_calculator_screen_text_shadow);
    }
}

@media only screen and (max-width: 325px), (max-height: 415px) {
    :root {
        --font_size_multiplier: 0.55;
    }

    #calculator {
        --calculator_font_size_multiplier: 0.4;
        --calculator_icon_size_multiplier: 0.4;
    }

    #calculator_screen {
        --calculator_screen_shadow: 1px 1px var(--theme_color_calculator_screen_text_shadow);
        --calculator_screen_shadow_light: 1px 1px var(--theme_color_calculator_screen_text_shadow);
    }
}

/* too small screen */

@media only screen and (max-width: 300px), (max-height: 400px) {
    body {
        overflow: hidden;
    }

    #error {
        display: flex;
    }

    #error::after {
        content: "screen is too small";
    }
}
